
@font-face {
    font-family: 'robotoblack';
    src: url('/gumacall/assets/fonts/Robot/roboto-black-webfont.eot');
    src: url('/gumacall/assets/fonts/Robot/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/gumacall/assets/fonts/Robot/roboto-black-webfont.woff2') format('woff2'),
    url('/gumacall/assets/fonts/Robot/roboto-black-webfont.woff') format('woff'),
    url('/gumacall/assets/fonts/Robot/roboto-black-webfont.ttf') format('truetype'),
    url('/gumacall/assets/fonts/Robot/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('/gumacall/assets/fonts/Robot/roboto-bold-webfont.eot');
    src: url('/gumacall/assets/fonts/Robot/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/gumacall/assets/fonts/Robot/roboto-bold-webfont.woff2') format('woff2'),
    url('/gumacall/assets/fonts/Robot/roboto-bold-webfont.woff') format('woff'),
    url('/gumacall/assets/fonts/Robot/roboto-bold-webfont.ttf') format('truetype'),
    url('/gumacall/assets/fonts/Robot/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('/gumacall/assets/fonts/Robot/roboto-medium-webfont.eot');
    src: url('/gumacall/assets/fonts/Robot/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/gumacall/assets/fonts/Robot/roboto-medium-webfont.woff2') format('woff2'),
    url('/gumacall/assets/fonts/Robot/roboto-medium-webfont.woff') format('woff'),
    url('/gumacall/assets/fonts/Robot/roboto-medium-webfont.ttf') format('truetype'),
    url('/gumacall/assets/fonts/Robot/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotocondensed';
    src:url('/gumacall/assets/fonts/roboto/RobotoCondensed-Bold.ttf') format('truetype'),
    url('/gumacall/assets/fonts/roboto/RobotoCondensed-BoldItalic.ttf') format('truetype'),
    url('/gumacall/assets/fonts/roboto/RobotoCondensed-Italic.ttf') format('truetype'),
    url('/gumacall/assets/fonts/roboto/RobotoCondensed-Light.ttf') format('truetype'),
    url('/gumacall/assets/fonts/roboto/RobotoCondensed-LightItalic.ttf') format('truetype'),
    url('/gumacall/assets/fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('/gumacall/assets/fonts/Robot/roboto-regular-webfont.eot');
    src: url('/gumacall/assets/fonts/Robot/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/gumacall/assets/fonts/Robot/roboto-regular-webfont.woff2') format('woff2'),
    url('/gumacall/assets/fonts/Robot/roboto-regular-webfont.woff') format('woff'),
    url('/gumacall/assets/fonts/Robot/roboto-regular-webfont.ttf') format('truetype'),
    url('/gumacall/assets/fonts/Robot/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.footer{
    font-family: robotoregular;
   position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
}
.login-logo {
    margin-top: 40px;
    width: 172px !important;
    height: 170px;
}
#listaArticulosCatalogoActual{
  width: 75%;
  max-height: 85%;
}
.botonesAgregar{
  color: #6A4AD5;
  font-size: 40px!important;
}
.noMargen{
  margin: 0!important;
}
#nuevoArticulo{
  width: 83%;
}
#modalNuevoCatalogo{
  height: 80%!important;
}
#modalFiltrado{
  min-height: 80%;
  height: 80%;
}
.negra{
  font-family: 'robotoblack'!important;
}
.regular{
  font-family: 'robotoregular'!important;
}
.mediana{
  font-family: 'robotomedium'!important;
}
.bold{
  font-family: 'robotobold'!important;
}
.detallesFactura {
  cursor: pointer;
}
.detallesFacturOrange{
  color: #3f51b5!important;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
#informeFactura{
  height:  50%!important;
}
.mdl-color--blue-grey-900 {
    background-color: #1F3C8F!important;
}
.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;

}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: #ffffff;
    text-align: center;
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;  
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  padding: 10px 10px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background: rgba(134, 111, 213, 0.5);
  color: #fff;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 25px;
}

.demo-content {
  /*max-width: 1080px;*/
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;

  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/**********************************************************
***********************************************************
*/

#AUsuario{
  height: 80%;
}
#imgLogo{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
#contenedorL{
    background: url('/gumacall/assets/img/hwebback2.png')  #1F3C8F;
}
#nombre{
    font-family: 'robotoblack';
    color: #ffffff;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
    width: 100%;
    text-align: center;
}
#pass{
    font-family: 'robotoblack';
    color: #ffffff;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
    width: 100%;
    text-align: center;
}
#recordar{
    font-family: 'robotoblack';
    color: #ffffff;
    width: 100%;
    text-align: center;
}
#remember-me[type="checkbox"]:checked + label:before{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#Acceder{
    border: 1px solid #3f3e3e;
    background: white;
    color: #263369;
    margin-top: 20px;
    font-family: 'robotoblack';
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
}
#Acceder:hover{
  transition: background-color 0.5s ease;
  background-color: #9fa6c2;
}
.row{
  width: 100%!important;
}
#menu{
    width: 100%;
    margin: 0 auto;
    font-family: 'robotoregular';
    font-weight: 500;
    height: auto;
}

#menu ul a li {
  padding: 10px;
}

#menu ul li{
  font-size: 12px;
  padding: 10px 50px;
}

#menu ul li:hover{
  background-color: #05539E;
}

#imgUser{
    margin-left: 18%;
}

.activo {
    background:rgba(134,111,213,0.50);/* Módulo Activo!*/
}
/****** Tabla zebra ********/
table tr:nth-child(even) {
    font-family:'robotoregular';
    background-color: #ffffff;
}
table tr:nth-child(odd) {
    font-family:'robotoregular';
    background-color: #e7e2f7;
}

table th {
    background: #13479a;
    color: #fff;
    font-size: 14px;
    font-family:'robotoregular';}
.labelValidacion{
  position: static!important;
  color: red!important;
  font-size: 12px!important;
  font-family: 'robotobold';
  display: none;
  text-transform: uppercase;
}
.urlActual {
       background-color: #05539E;
    }
.menu a{
    color: #fff;
    text-transform: uppercase;
}

/*TITULOS_SUPERIORES: STYLE PARA TITULOS SUPERIORES DE CADA PAGINA*/
.title span{
  margin-top: 80px;

}
.title{
    font-family: 'robotoregular';
    text-shadow: 2px 2px 2px #aaa;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.title-w {
    font-family: 'robotoregular';
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 200px;
}
.ColorHeader{
    background: #1F3C8F;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    font-family: 'robotoregular'
}
.mdl-layout__header {
    background: #1F3C8F;
}
/*FIN DE TITULOS_SUPERIORES*/

/*STILOS PARA TABLAS GENERALES*/
.TblData{
    border-collapse: separate;
    border-spacing: 1px;
}
.TblData th{
    background: #1F3C8F;
    color: #fff;
    font-size: 17px;
    font-family: 'robotoregular';
}
.TblData td
{
    font-family: 'robotoregular';
    color: #1F0A71;
    font-size: 16px;
}
.dataTables_filter{
  display: none!important;
}

#tableCampaniasVA .dataTables_wrapper .dataTables_filter label {
  
 display: none;
}

#tableCampaniasVA .dataTables_wrapper .dataTables_filter {
  
 display: block!important; 
}

#table-cliente .dataTables_wrapper .dataTables_filter {
  display: block!important;
}

#table-detalleCliente .dataTables_wrapper .dataTables_filter {
  display: block!important;
}
/*FIN TABLAS GENERALES*/

.BtnBlue
{
    border-radius: 4px;
    background: #1E824C;
    font-family: 'robotomedium';
    font-weight: 500;
    font-size: 12px;
    transition: 0.5s;
}
.BtnKronos
{
    line-height: 68px;
    text-align: center;
    border-radius: 4px;
    background: #1E824C;
    font-family: 'robotomedium';
    font-weight: 500;
    font-size: 24px;
    height: 68px;
    width: 200px;
    transition: 0.5s;
}

.BtnCancelar {
    border-radius: 4px;
    background: #C72828;
    font-family: 'robotomedium';
    font-weight: 500;
    font-size: 12px;
    transition: 0.5s;
}

.BtnBlue:hover
{
    background: #2788A5;
    color: #fff;   
}

.noMargen{
  margin: 0!important;
}

.row{
  width: 100%!important;
}
.card-small{
    height: 70px;
}
.titulosModales {
    color: #00000;    
    font-family: 'robotoregular';
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #aaa;
}
.TextColor {
  color: #000000;
  font-family: 'robotoregular';
  font-size: 25px;
  margin-top: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #aaa;
}
.Cont_hrs_trabajo{
  width: 85%;
  margin: 0 auto;
    background-color: #3B66B0;
    color: #208CC3;
    opacity: 0.5;
    font-family: 'robotoregular';
    font-size: 40px;
    box-shadow: -1px 1px 9px rgba(0,0,0,0.4);
}
.Cont_hrs_trabajo p {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px;
}

.TextColor p {
  font-size: 22px;
  margin-left: 10%;
}

#contenedor{
    margin-top: 5%;
}

.contenedor{
    margin: 20px;
    width: auto;
}

.iconos {
  color: #000000;
  font-size: 20px;
  padding: 5px 5px;
}
.iconos:hover {
  color: green;
}

#editarGrupoModal {
  width: 90%;
  min-height: 85%;
}
#modalEditarCamp {
  width: 60%;
  min-height: 85%;
}
.titulos-tablas-sup {
  font-family: 'robotoregular';
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #aaa;
}

li{
    /*padding: 5px 8px 6px;*/
}
li i{
    color: #fff;
}
li img{
    color: #fff;
}
select{
  text-transform: uppercase!important;
}
.progress{
      background-color: #1f0a71;
}
label>select {
    display: table-cell!important;
}
/*TOAS NOTIFICATION ERROR*/
.toast.error{
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    line-height: 1.5em;
    word-break: break-all;
    font-family: 'robotoregular';
    background: rgba(233, 30, 30, 0.75);
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    box-shadow: -1px 1px 9px rgba(0,0,0,0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*ESTILOS PARA EL RELOJ*/
.row1 {
  width: 100%;
}
.container_reloj {
  width: 20%;
  float: right;
}
.clock {
  width:70%; 
  margin:0 auto; 
  color:#fff;
}
.ul_r { 
  margin:0 auto; 
  padding:0px;
  list-style:none; 
  text-align:center;  
}
.ul_r li { 
  display:inline; 
  font-size:25px;  
  font-family:'robotoregular';
  padding: 0px;
}
#point {
  padding: 0px;
  position:relative;
}
#footer-f {
  font-family:arial;
  text-align: center;
  margin-left: 200px;
  padding: 10px 10px;
}
@media only screen and (max-width: 1020px) {
.container_reloj {
  width: 100%;
  }
  .title-w {
    margin-left: 0;
  }
    .title-w span{
        text-transform: uppercase;
    }
  .footer_load {
    width: 100%;
  }
  #footer-f {
    margin-left: 0;
  }
}
/*FIN DE ESTILOS PARA RELOJ*/

.usuario_activo {
  color: green;
  text-transform: uppercase;
}
.usuario_inactivo {
 color: red; 
 text-transform: uppercase;
}
.footer_load { 
  text-align: center;
  padding: 5px 5px;
}
.copy {
  color: #1F3C8F;
  text-align: center;
  font-size: 13px;
  font-family: "robotobold";
}
.content-rows {
  display: inline-block;
  width: 100%;
  padding: 2px 2px;
}
.content-rows-left {
  width: 50%;
  float: left;
  padding: 5px 5px;
}
.content-rows-right {
  width: 50%;
  min-height: 20px;
  float: right;
  padding: 5px 5px;
}
#container-grafica {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
.totales {
  font-family: 'robotobold';
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
}
.input-field label {
  text-align: left;
  color: #000000;
  font-family: 'robotoregular';
}
.textos-cifras {
  text-align: right;
  font-family: 'robotoregular';
  font-size: 17px;
  color: #000000;
}
.mayuscula {
  font-family: 'robotoregular';
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
}
.left {
  text-align: left;
}

.footer_load  {

}

.sKronos{
    font-size: 60px;
    font-family:'robotoregular';
    color: #363431;
}

.tabs .tab a.active{
    font-family:'robotoregular';
    color: #fff;
    background: #1F3C8F;
}

.tabs .tab a{
    font-family:'robotoregular';
    color: #000;
}
input[type=text],input[disabled]{
    font-family:'robotoregular';
    border-bottom: 1px solid #000!important;
}
.Titulo_frm_nombrecliente{
    font-family: 'robotoregular';
    font-size: 20px;
    border-bottom: 1px solid #000!important;

}
chosen-single a{
    color: black;
}

.tachado{
  color:#f00;text-decoration:line-through;
}
.highcharts-credits {
  display: none;
}

#column0,#column1,#column2, #column3,#column4,#column5,#column6,#column7,#column9 {
  display: none;
}

.th-campania {
  width: 20px;
}
.modal .modal-footer #center a {
  margin-right: 10px;

}

#log{
 margin-bottom:20px;
}
#content{
  margin-top: 20px;
}
